<div class="container">
  <input type="text" [formControl]="searchControl" placeholder="Search..." class="search-bar" />

  <div *ngIf="globalLoading.loading$ | async" class="loading-overlay">Loading...</div>

  <div class="table-container">
    <table class="table">
      <thead>
      <tr>
        <th>Shipment Id</th>
        <th>Created Date</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="shipments$ | async as shipments">
        <tr *ngFor="let shipment of shipments">
          <td>{{ shipment.shipmentId }}</td>
          <td>{{ shipment.createdAt | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>{{ shipment.origin }}</td>
          <td>{{ shipment.destination }}</td>
          <td>{{ shipment.status }}</td>
          <td>
            <button
              mat-icon-button
              color="primary"
              matTooltip="Create execution plan"
              (click)="openPlanDialog(shipment)"
            >
              <mat-icon>add_task</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              matTooltip="Delete shipment"
              (click)="confirmDelete(shipment)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
